version: '2'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.4.1
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata:/usr/share/elasticsearch/data
      - ../elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml

  app:
    build: ../..
    depends_on:
      - elasticsearch
    ports:
      - 4323:4321
    environment:
      ELASTIC_SEARCH_HOST: elasticsearch
      ELASTIC_SEARCH_LOG: error
      WINE_SEARCH_ENV: production

volumes:
  esdata:
    driver: local